body{
	font-family: sans-serif;
	background: #eee;
	min-width: 1350px;
}

a, h1, h2, h3{
	color:#377ba8;
}

dt{
	padding: 5px;
}

h1, h2{
	font-family: 'Georgia',serif;
	margin: 0;
}

h1 {
	border-bottom: 2px solid #eee;
}

h2 {
	font-size: 1.5em;
}

.page{
	margin: 2em auto;
	border: 5px;
	width = 90%;
	padding: 0.8em;
	background: white;
	overflow: auto;
}

.entries {
	list-style: none;
	margin:0;
	padding:0;
	height: 689px;
	overflow: auto;
}

.entries li {
	margin: 0.8em 1.2em;
}

.entries l1 h2 {
	margin-left: -1em;
}

.add-entry{
	font-size: 0.9em;
	border-bottom: 1px solid #ccc;
}

.add-entry dl {
	font-weight: bold;
}

.metanav {
	text-align: right;
	font-size: 0.8em;
	padding: 0.3em;
	margin-bottom: 1em;
	background: #fafafa;
}

.flash {
	background: #cee5f5;
	padding: 0.5em;
	border: 1px solid #aacbe2;
}

.error {
	background: #f0d6d6;
	padding: 0.5em;
}

.navbar{
	text-decoration: none;
}

input[type=text]{
	border: 2px solid #999;
	border-radius:0;
	padding-bottom: 5px;
	-webkit-appearance: none;
}

input[type=submit]{
	margin-top: 5px;
}

input[type=button]{
	
}

.create, .search, .update, .delete, .backup{
	padding: 10px;
	margin: 10px;
	border: 5px solid #333;
}

.sidebar{
	float: left !important;
	width: 20% !important;
	overflow: auto;
}

.main{
	float: left;
	width: 75% !important;
	margin: 10px;
	display: block;
	border: 5px solid #333;
}

.currentInventory{
	margin-left:10px !important;
}
